.color-style{

 min-height: 100vh;
  font-family: 'Cairo', sans-serif;

}
.Nav-style{
  background: #b45b35!important;
  min-height: 90px!important
}
.Nav-style .brand-img{
  height: 70px;
}
.Nav-form{
  width: 95%;
}
.form-input{
  border-radius: 30px;
}
.card-item{
  position: relative;
}
.card-item-desc{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255,255,255,.8);
  text-align: center;
  padding-top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
 
}
.card-item:hover .card-item-desc{
opacity: 1;
visibility: visible;
}
.card-item-desc-info{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}
.card-item-desc-info p{
  margin: 0;
  font-size: 16px;
}
.card-details{
  height: calc(100vh - 90px);
  background-color: #f6f6f6;
}
.film-details h4{
  color: #aaa;
}
.film-history{
  color:#aaa;
  padding: 20px 10px;
}
.card-details .btn{
  width: 150px;
  background-color: #b45b35;
  outline-color: #b45b35;
  border: 0;
}
.btn-group{
    width: 350px;
  margin: auto
  ;
}
.details-img{
  width: 200px;
  height: 200px;
}